#header {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 8px -3px rgba(17, 17, 17, .06);
  height: 56px;
  position: fixed;
  top: 0;
  transition: .3s cubic-bezier(.4, 0, .2, 1);
  width: 100%;
  z-index: 199999;
}

.header-logo {
  float: left;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 150px;
}

.head-animation {
  transform: translateY(-100%);
}

main {
  position: relative;
  background-color: rgba(30, 30, 30, 1);
  min-height: 1080px;
  height: 1300px;
  max-height: fit-content;
}

footer {
  background-color: #242424;
  color: #fff;
  height: 300px;
  padding: 40px;
  text-align: left;
}
/* --- 全体のBOX定義 ---------------------------------------- */
.box {
  position   : relative;
  width      : 100%;
  height     : calc(100vw / 16 * 9 + 56px);
  margin     : auto;
  overflow   : hidden;
}

/* --- 背景の指定 ------------------------------------------- */
.box .bgImg {
  position   : absolute;
  top        : 56px;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 15s infinite;   /* 4画像 × 各5s = 20s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.box .src1 {
  background-image : url(./top.png);   /* 背景の画像を指定 */
  background-size: cover;
  resize: both;
}
.box .src2 {
  background-image : url(./CSMC.png);   /* 背景の画像を指定 */
  animation-delay  : 5s;
  background-size: cover;
  resize: both;
}
.box .src3 {
  background-image : url(./Conet_Dev.png);   /* 背景の画像を指定 */
  animation-delay  : 10s;
  background-size: cover;
  resize: both;
}

@keyframes bgAnime {
   0% { opacity: 0; }
   5% { opacity: 1; }
  25% { opacity: 1; }
  40% { opacity: 0; }
 100% { opacity: 0; }
}

