@font-face {
    font-family: 'LineSeed';
    src: url('../font/LINESeedJP_OTF_Bd.woff') format('woff'),
      url('../font/LINESeedJP_OTF_Eb.woff') format('woff'),
      url('../font/LINESeedJP_OTF_Rg.woff') format('woff'),
      url('../font/LINESeedJP_OTF_Th.woff') format('woff');
  }

html{
    font-family: "LineSeed";
}
