@media screen and (min-width: 966px){

  a {
    text-decoration: none;
    display:block;
    display:inline-block;
    display:flex;
  }
  
  .header-list a {
    text-decoration: none;
    color: white;
  }
  
  .footer-list a {
    text-decoration: none;
    color: white;
  }
  
    li {
      list-style: none;
      display: inline-block;
      margin-left: 20px; 
    }
    .hamburger-menu {
      display: none;
    }
    
    #navi img{
      margin-right: 5px;
    }
  
    #navi ul {
      font-size:20px;
      float: right;
      padding: 10px 20px;
      display:flex;
      position: absolute;
      top: 5%;
      right: 10%;
    }
  
    .copy-container h1 {
      font-size: 140px;
    }
    
    .copy-container h2 {
      font-size: 60px;
    }
    
    .copy-container span {
      color: #ff4a4a;
      padding-top:20px;
    }  
  
    .footer-logo {
      float: left;
      font-size: 32px;
    }
    
    .footer-list {
      float: left;
    }
    
    .footer-list li {
      padding-bottom: 20px 20px;
    }
  
  * {
      margin: 0px;
      padding: 0px;
    }
    .menu_link{
      width: 100%;
    }
    
    .link a{
      font-size: 2rem;
      margin: 0 20px;
      transition: 0.3s all;
      color: white;
    }
    
    .link{
      max-width: 1300px;
      position: relative;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content:space-evenly;
      box-sizing: border-box;
      color: white;
    }

    .link :hover{
      transform: translateY(-2px);
    }
  }